
/*
  The CSS in this style tag is based off of Bear Blog's default styling.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3b5b28064ac7042db5b453a/templates/styles/blog/default.css
  License MIT (https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md)
*/

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --accent: 30, 80, 255;
  --accent-light: 212, 222, 255;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --gray: 136, 136, 136;
  --gray-dark: 51, 51, 51;
}
html {
  font-family: "Atkinson", sans-serif;
  background-color: #f6f6f6;
}

body {
  margin: 0;
}

main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  font-size: 20px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

strong,
b {
  font-weight: 700;
}

a {
  color: rgb(var(--accent));
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.prose p {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

.astro-code {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

pre {
  padding: 1em;
  border-radius: 0.4em;
  overflow-x: auto;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

code {
  font-size: 0.9em;
  padding: 2px 5px;
  background-color: rgb(var(--accent-light));
  border-radius: 2px;
}
