
---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
const logoUrl = "https://i.postimg.cc/63QwKcn4/logo-(1).png";
---

<header>
  <nav>
    <div class="brand">
      <a href="/">
        <img src={logoUrl} alt="StudyWithUs Logo" class="logo" />
        <span class="site-title">{SITE_TITLE}</span>
      </a>
    </div>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/admin">Admin</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: #f6f6f6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  .brand a {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    text-decoration: none;
  }
  .logo {
    height: 30px;
    width: auto;
    margin-right: 0.5em;
  }
  .site-title {
    font-size: 1.2em;
    font-weight: bold;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .internal-links {
    display: flex;
    align-items: center;
  }
  .internal-links a {
    padding: 1em 0.5em;
    color: #121212;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  .internal-links a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
